body{
  margin: 0;
  padding:0;
}
header{
  text-decoration: none;
  background-color: rgba(255,93,177,1);
  height: 28px;
  padding: 15px;
  margin-left:-20px;

}
li{
  margin-top: 3px;
  text-decoration: none;
  display: inline-block;
  padding-left: 44px;
  list-style: none;
}
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-family: sans-serif;
}
li:hover a{
  color:black;
}

#titulo{
  width: 100%;
  float: none;
  font-family: sans-serif;
  font-size: 45px;
  margin: 35px 36.5%;
  margin-bottom: 8px;
}

.cuadros{
  margin: 0px 11%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.imagen{
  float: none;
  margin: 17px 13%;
}

.tex{
  font-family: sans-serif;
  font-size: 30px;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.boton{
 margin-left: 18.5%;
 padding: 8px 30px;
 font-size: 16px;
 background-color: rgba(255,93,177,1);
 border-radius: 20px;
 color: white;
}

.cuadros2{
  float: right;
  margin: -280px 62%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}
.cuadros3{
  float: right;
  margin: -280px 46%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.cuadros4{
  float: right;
  margin: -280px 30%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}
.cuadros5{
  float: right;
  margin: -280px 13%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.tex2{
  font-family: sans-serif;
  font-size: 30px;
  color: rgba(255,93,177,1);
  margin: -28px 38%;
  margin-bottom: -6px;
}

.imagen2{
  float: none;
  margin: 17px 22%;
}

.tex3{
  font-family: sans-serif;
  font-size: 30px;
  color: rgba(255,93,177,1);
  margin: -28px 27%;
  margin-bottom: -6px;
}

.imagen3{
  float: none;
  margin: 17px 19%;
}

.imagen4{
  float: none;
  margin: 17px 13.5%;
}

.tex4{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.imagen5{
  float: none;
  margin: 17px 13%;
}

.tex5{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.cuadros6{
  float: none;
  position: static;
  margin: 70px 11%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.cuadros7{
  float: right;
  margin: -350px 62%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.cuadros8{
  float: right;
  margin: -350px 46%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.cuadros9{
  float: right;
  margin: -350px 30%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.cuadros10{
  float: right;
  margin: -350px 13%;
  width: 200px;
  height: 270px;
  background-color: none;
  border: 5px solid rgba(255,93,177,1);
}

.imagen6{
  float: none;
  margin: 17px 14.5%;
}

.tex6{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.imagen7{
  float: none;
  margin: 17px 15.5%;
}

.tex7{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.imagen8{
  float: none;
  margin: 17px 13%;
}

.tex8{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.imagen9{
  float: none;
  margin: 17px 14%;
}

.tex9{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 29%;
  margin-bottom: -6px;
}

.imagen10{
  float: none;
  margin: 17px 14.5%;
}

.tex10{
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(255,93,177,1);
  margin: -28px 23.5%;
  margin-bottom: -6px;
}
