body{
  margin: 0;
  padding:0;
  background-image: url('imagenes/fondo.jpg');
  background-size: 1920px 1080px;
}
header{
  text-decoration: none;
  background-color: rgba(255,93,177,1);
  height: 28px;
  padding: 15px;
  margin-left:-20px;

}
li{
  margin-top: 3px;
  text-decoration: none;
  display: inline-block;
  padding-left: 44px;
  list-style: none;
}
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-family: sans-serif;
}
li:hover a{
  color:black;
}

.inicio{
  margin: 250px 6.5%;
  width: 790px;
  height: 377px;
  /*background-color: rgba(255,93,177,1);   es buena idea como quedo pero no me gusto el final, te lo dejo por si lo queres ver*/
  float: none;
  border-radius: 80px 80px 0px 80px;
  font-family: sans-serif;
  font-size: 35px;
  padding-left: 35px;
}

p{
  color: white;
  font-size: 69px;
  margin: -85px 9.05%;
}
h2{
  margin: 44px 11.05%;
  color: white;
  margin-bottom: 27px;
  font-size: 70px;

}

.buttoms{
  margin-left: 10%;
 padding: 17px 50px;
 font-size: 20px;
 background-color: rgba(255,93,177,1);
 border-radius: 30px;
 color: white;
}

.buttoms1{
 margin: 0px 25px;
 padding: 17px 77px;
 font-size: 20px;
 background-color: rgba(255,255,255,1);
 border-radius: 30px;
 color: rgba(255,93,177,1);;
}

hr{
  width: 60%;
  margin: 0px 14.5%;
}
