body{
  margin: 0;
  padding:0;
  background-image: url(imagenes/fondo2.jpg);
}
header{
  text-decoration: none;
  background-color: rgba(255,93,177,1);
  height: 28px;
  padding: 15px;
  margin-left:-20px;
}
li{
  margin-top: 3px;
  text-decoration: none;
  display: inline-block;
  padding-left: 44px;
  list-style: none;
}
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-family: sans-serif;
}
li:hover a{
  color:black;
}

form{
  width: 45%;
  background: rgba(255,255,255,0.8);
  margin: 145px 7%;
  border-radius: 12px;
}

input{
  width: 100%;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
}

#lol{
  text-align: center;
  background-color: rgba(255,93,177,1);
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
}

label{
  margin-left: 22px;
  font-family: sans-serif;
  font-size: 16px;
}

.blanco{
  width: 100%;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: white;
}
